{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
2222
  <video id="videoPlayer" controls muted="muted" autoplay>
    <source src="http://localhost:3000/video" type="video/mp4">
  </video>
{% endblock %}
